html {
    font-size: 10px;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #555a59;
    display: flex;
    min-height: 100vh;
    align-items: center;
  
    background-image:
    radial-gradient(circle at 100% 150%, #9aa3a2 24%, #929b99 25%, #6c7a78 28%, #75817f 29%, #5b6160 36%, #7c8583 36%, #565f5e 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, #8e9997 24%, #6c7472 25%, #788582 28%, #838a89 29%, #676d6c 36%, rgb(110, 121, 119) 36%, #4e5352 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, #abb1b0 10%, #8f9493 11%, #7a8685 23%, #5e6866 24%, #727776 30%, #4f5554 31%, #707977 43%, #666e6d 44%, #616867 50%, #616968 51%, #3BC1AC 63%, #42D2BB 64%, #42D2BB 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, #585f5e 5%, #8d9190 6%, #596361 15%, #6c7472 16%, #666d6c 20%, #6a7574 21%, #5f6867 30%, #515756 31%, #5c6463 35%, #5f6665 36%, #3BC1AC 45%, #42D2BB 46%, #42D2BB 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, #7b8381 5%, #6e7473 6%, #7c8382 15%, #9da5a4 16%, #8d9796 20%, #6d7977 21%, #626867 30%, #474d4c 31%, #616665 35%, #6d7271 36%, #3BC1AC 45%, #42D2BB 46%, #42D2BB 49%, transparent 50%, transparent);
    background-size:100px 50px;
  }
  
  .voiceinator {
    padding: 2rem;
    width: 50rem;
    margin: 0 auto;
    border-radius: 1rem;
    position: relative;
    background: white;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
  }
  
  h1 {
    width: calc(100% + 4rem);
    margin: -2rem 0 2rem -2rem;
    padding: .5rem;
    background: #ffc600;
    border-bottom: 5px solid #F3C010;
    text-align: center;
    font-size: 5rem;
    font-weight: 100;
    font-family: 'Georgia', sarif;
    text-shadow: 3px 3px 0 #F3C010;
  }
  
  .voiceinator input,
  .voiceinator button,
  .voiceinator select,
  .voiceinator textarea {
    width: 100%;
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 0;
    font-size: 2rem;
    background: #F7F7F7;
    outline: 0;
  }
  
  textarea {
    height: 20rem;
  }
  
  .voiceinator button {
    background: #ffc600;
    border: 0;
    width: 49%;
    float: left;
    font-family: 'sanis-sarif', sans-sarif;
    margin-bottom: 0;
    font-size: 2rem;
    border-bottom: 5px solid #F3C010;
    cursor: pointer;
    position: relative;
  }
  
  .voiceinator button:active {
    top: 2px;
  }
  
  .voiceinator button:nth-of-type(1) {
    margin-right: 2%;
  }